@font-face {
    font-family: 'IRANSansX';
    src: url('/fonts/IRANSansXRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'IRANSansX';
    src: url('/fonts/IRANSansX/IRANSansXBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }




*{
    font-family: 'IRANSansX', sans-serif; 
}
body{
    
    background-color: rgb(255, 255, 255);
}

.blackitem{
    background-color: rgb(35, 71, 134);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
    color: rgb(255, 255, 255);

}


.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoimgheader{
    width: 80px;
}
.logobox{
    display: flex;
    justify-content: end;
    align-items: center;
   
}


#searchbox{
    width: 440px;
    height: 50px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(35, 71, 134, 0.592);
    transition: width ,border-radius , 0.5s;
}
#searchbox:hover{
    width: 530px;
    height: 50px;
    border-radius: 3px;
}
.boxsearch{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
#inputsearch{
    background-color: rgb(255, 255, 255);
    border: 0;
    margin-right: 10px;
    direction: rtl;
}
#inputsearch:focus{
    border: 0;
    box-shadow: 0;
    outline: none;
}
.mainnavbarborder{
    border-bottom: 1px solid rgb(35, 71, 134);
    margin-top: 10px;
    max-width: 100%;
}

.headerbuts{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btnbasket{
    width: 100px;
    height: 50px;
    background-color: rgba(41, 87, 164, 1);
    border: 0;
    color: rgb(255, 255, 255);
    font-size: small; 
    transition:  border-radius , 0.2s;
}
.btnbasket:hover{
    background-color: rgb(35, 71, 134);
    border-radius: 3px;
}
.btnlogin{
    background-color: rgba(87, 185, 82, 1);
    width: 100px;
    height: 50px;
    border: 0;
    color: white;
    transition:  border-radius , 0.2s;
    margin-left: 5px; 
}
.btnlogin:hover{
    background-color: rgb(67, 145, 63);
    border-radius: 3px;
}







.navbar{
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
    height: 40px;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
   
}
.navbar div{
    cursor: pointer;
}
.navbar div:hover{
    color: rgb(73, 152, 69);
    
}
.partproduct div{
    margin-top: 15px;
    cursor: pointer;
}
.partproduct div:hover{
    color: rgb(73, 152, 69);
}
#items{
    height: 350px;
    width: 100%;
    position: absolute;
    background-color: rgb(255, 255, 255);
    top: 550%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 20;
    display: none;
    border-top: 0.2px solid black;
} 
#blackacc{
    background-color: rgba(0, 0, 0, 0.364);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 10;
    display: none;
}
.partproduct{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: end;
    height: 100%;
    margin: 30px;
    max-width: 90%;
}


#coloriscircle{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.boxcount{
    border: 1px solid rgba(35, 71, 134, 0.592);
    padding: 10px 5px;
    transition: box-shadow, 0.2s;
}
.boxcount:hover{
    box-shadow: 1px 1px 3px rgba(87, 185, 82, 1);
    color: white;
    background-color: rgb(25, 50, 94);
    border-radius: 3px;
}
.boxcount div{
    margin-top: 5px;
    cursor: pointer;
}
.shopboxshoppage{

    padding: 15px;
    
}





.cariusel{
    margin-top: 10px;
    height: 380px;
    position: relative;
    border-top: 1px solid rgb(35, 71, 134);
}
.imgdivcover{
    background-image: url("/homepage/img/bigbanners/BANNER1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 420px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgcover{
    max-width: 100%;
}

#backtbut{
    top: 50%;
    position: absolute;
    left: 2%;
    background-color: rgba(255, 255, 255, 0.544);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
#nextbut{
    top: 50%;
    position: absolute;
    right: 2%;
    background-color: rgba(255, 255, 255, 0.544);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}


.secpupcer {
    overflow: hidden; /* مخفی کردن آیتم‌های اضافی */
    width: 100%;
    position: relative;
    padding: 20px 0;
  }

  .secpupcer h2 {
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 24px;
  }

  .pupitems {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    transition: transform 0.5s ease-in-out; /* برای حرکت نرم */
  }

  .pupitems div {
    flex: 0 0 auto;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .pupitems div:hover{
    background-color: rgb(35, 71, 134);
    color: rgb(255, 255, 255);
    border-radius: 3px;
  }

  /* دکمه‌های کنترل */
  .carousel-control {
    position: absolute;
    top: 65%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 70%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .carousel-control.prev {
    left: 10px;
  }

  .carousel-control.next {
    right: 10px;
  }

  .divitem{
    width: 20%;
    padding: 10px;
    margin-left: -10px;
    border-right: 1px solid #ccc;
  }









.yourboxempty{
    border: 1px solid rgba(35, 71, 134, 0.592);
    height: 200px;
    transition: background-color 0.2s;
    
}
.yourboxempty:hover{
    background-color: rgb(35, 71, 134);
    box-shadow: 1px 1px 5px rgba(87, 185, 82, 1);
    border-radius: 3px;
    color: white;
}

.loginbox{
    height: 200px;
    border: 1px solid rgba(35, 71, 134, 0.592);
    transition: background-color 0.2s;
}
.loginbox:hover{
    background-color: rgb(35, 71, 134);
    box-shadow: 1px 1px 5px rgba(87, 185, 82, 1);
    border-radius: 3px;
    color: white;
    cursor: pointer;
}